.bg{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 400px;
}
