.para{
    color: rgb(37, 150, 190);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size:xx-large;
    background-color: rgb(170, 135, 203);
    background-repeat: no-repeat;
}